.main-panel {
	min-height: 95vh;
}
.forms-frame {
    margin: 5px auto 5px auto;
    border: 2px solid #aaa;
}

.add-section-form,
.add-category-form,
.add-option-form {
	margin-bottom: 10px;
	margin-left: 5px;
	margin-right: 5px;

}

.add-category-form,
.add-option-form {
	display: flex;
	flex-wrap: wrap;
}

.select-section {
	display: block;
	width: 100%;
}
.input-half {
	display: block;
	width: 50%;
	margin: 10px auto 10px auto;
}
.bottom-line {
	border-bottom: 1px solid #369;
}

.select-option {
	padding-left: 20px;
}

.awesome-formlabel {
	display: inline-block;
	width: 30%;
}

.awesome-forminput {
	display: inline-block;
	width: 69%;
	margin: 5px 0 5px 0;
}

.btn-delete:hover {
	color: #fff ;
	background-color: red;
}